.hamburger-menu {
    height: 0;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle._active ~ .menu__btn {
    position: fixed;
    top: 45px;
}
#menu__toggle._active ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: #fff;
}
#menu__toggle._active ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
}
#menu__toggle._active ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #fff;
}
#menu__toggle._active ~ .menu__box {
    visibility: visible;
    left: 0;
}  
#menu__toggle._active ~ .menu__overlay {
    display: block;
    opacity: 1;
}

.menu__overlay {
    display: none;
    opacity: 0;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity .5s;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    
    width: 45px;
    height: 45px;
  
    cursor: pointer;
    z-index: 100;
}
  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 5px;
  
    background-color: #C29A5C;
  
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -16px;
}
.menu__btn > span::after {
    content: '';
    top: 16px;
}
 
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    z-index: 50;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #c2995cc0;
    backdrop-filter: blur(10px);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .5s;
}
  
.menu__item {
    font-family: 'Gilda Display';
    display: block;
    padding: 12px 40px;
    
    color: #fff;
    text-align: right;
    font-size: 20px;
  
    text-decoration: none;
  
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #6666663f;
}

